header {
    .background-nav {
        background-color: #495371;
    }

    nav {
        .background-nav {
            background-color: #495371;
        }

        div {
            .imagenes-logo {
                width: 75px;
                height: 75px;
            }

            div {
                ul {
                    li {
                        a {align-items: center;}
                    }

                }
            }
        }
    }
}