header {
    .background-nav {
        background-color: #F3E9DD;
        &:hover {
            color: tomato;
        }
    }

    nav {
        .background-nav {
            background-color: #495371;
        }

        div {
            .imagenes-logo {
                width: 75px;
                height: 75px;
            }

            div {
                ul {
                    li {
                        a {align-items: center;
                            &:hover {
                                color: #F3E9DD;
                            }
                            
                            }
                        
                    }

                }
            }
        }
    }
}